/*CSS Reset*/
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}

ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}

    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        max-width: 100%;
        border: 1xp solid grey;
    }

    /*General Styles*/
html{
    font-size:62.5%;
}
body{
    font-size:1.6rem;
    line-height:1.5;
    color:#4f4f4f; /*easier to read then black on white*/
    font-family:'Roboto Mono', monospace;
}

h1 {
    font-family: 'Chelsea Market', cursive;
    font-size:5rem;
}

section{
    padding: 4% 0;
}
a {
    text-decoration:none;
}
/*Header Section Styles*/
nav {
    padding:2% 0; 
}
nav a {
    display:inline-block;
    padding:.5% 0;
    width:10%;
    border-radius:10px;
    text-align: center;
    color:#fff;
}

.orange {
    background-color:#FF764E;
    margin-left:20%;
}

.blue {
    background-color:#5ED3EB;
    margin:0 15%;
}

.yellow {
    background-color:#FFCD69;
    margin-right:10%;
}

/*Top Section Styles*/
.top{
    position:relative;
    font-weight:normal;
}
.left img{
    border-radius:50%;
    width:60%;
}

.left,.right {
    display:inline-block;
    text-align:center;
}
.left{
    width:40%;
    margin-left:10%
}
.right{
    width:45%;
    margin-left:3%;
    position:absolute;
    top:40%;
    right:10%;
}
.right h1 {
    margin-bottom:2%;
}
.right h2 {
    font-weight:bold;
}
.right p {
    margin-top:2%;
    font-weight:bold;
}
/*Middle about section*/
.main {
    background-color:#DDB9A3;
    margin-top:2%;
    margin-left:3%;
    margin-right:3%;
    padding:1% 2%;
    border:none;
    color:white;
    text-align:center;
}
.one{
    margin:1;
    padding-left:0
}
.two {
    margin:1%;
}
/*Images Section*/
.images{
    text-align:center;
}
.fire {
    width:10%;
}    
.camper{
    width:10%;
}
.three {
    text-align:center;
    padding:1% 40%;
}
.four {
    text-align:center;
    padding:1% 30%;
    ;
}
span.park {
    font-weight:bold;
}
span.restrictions {
    font-weight:bold;
}
/*Background image section*/

.heroImg {
    height:50vh;
    background-image:url('assets/footer_img.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:top;
}

/*Footer Section*/
footer {
    background-color:#F9E7DC;
}